<!DOCTYPE>
<html>
<head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>

<body style="background-color: #ffffff; font-size: 16px;">

<table style="height:100%; width:600px;">
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding:30px">
            <p style="text-align:left">Hello,<br><br> We received a request to start an evaluation survey. To to start a survey, click the link below.
            </p>
            <p>
                <a target="_blank" style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;" href="<%=link%>">
                    <strong>Start Evaluation</strong></a>
            </p>
            <p style="text-align:left">This link can only be used once.<br><br>If you didn't want to participate to this evaluation survey, you can simply ignore this email.</p>
            <p style="text-align:left">
                Sincerely,<br>The Evaluation Team
            </p>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
