<!DOCTYPE>
<html>
<head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>

<body style="background-color: #ffffff;  font-size: 16px;">

<table align="center" border="0" cellpadding="0" cellspacing="0" style="height:620px; width:845px;background-image: url(https://res.cloudinary.com/avoo/image/upload/v1649780741/photo5382218098272222136_coztym.jpg);background-repeat: no-repeat, repeat;">
    <tr>
        <td align="center" style="padding-left:50px;">
            <h1 style="text-align:left;font-family: 'Quicksand', sans-serif;font-size: 60px;color:#4e5ee9;">Certificate</h1>
            <h2 style="text-align:left;font-family: 'Quicksand', sans-serif;font-size: 25px;color:#4e5ee9;">of Achievement</h2>
            <p style="text-align:left;font-family: 'Open Sans', sans-serif;font-size: 18px;color:#74adb6;">This certificate is proudly pressented to</p><br>
            <h1 align="left" style="text-align:left;font-size: 19px;"><%=nameSurname%></h1>
            <hr align="left" style="width:500px;"> <br>
            <p style="text-align:left;font-family: 'Quicksand', sans-serif;font-size: 20px;color:#6e6e70;">Total Score: <%=totalScore%></p>
            <br><br>
            <div style="float: left;">
                <hr align="left" style="width:150px;">
                <p style="text-align:left; padding-left: 15px; font-family: 'Quicksand', sans-serif;font-size: 15px;color:#818591;">date</p></div>
            <div style="float: left; padding-left: 110px;">
                <hr align="left" style="width:150px;">
                <p style="text-align:left; padding-left: 15px; font-family: 'Quicksand', sans-serif;font-size: 15px;color:#818591;">signature</p></div>
            <img style="height:120px;padding-top:50px;padding-left: 150px;" src="https://res.cloudinary.com/avoo/image/upload/v1649862739/hd-gold-black-certificate-logo-transparent-png-31625761576hadwkhbj6t_i44ay7.svg">
            <br><br><br>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
